.header-promo-block {
  background: #ffedd7;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
}
.block-content {
  padding: 146px 100px 100px 60px;
}
.header-promo-block-title {
  max-width: 700px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #2d2d2d;
}
.header-promo-block-title > h1 {
  font-size: 48px;
}

.header-promo-block-title span {
  color: #ff5a1e;
}

.block-btns {
  padding-top: 32px;
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.block-btn-btn {
  height: 40px;
  width: 133px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  border: 0px;
}

.block-phone-img {
  /* height: 410px; */
  padding-top: 146px;
  padding-right: 60px;
}
