.num__card__item{
    /* border: 2px solid red; */
    max-width: 400px;
    height: 160px;
    border-radius: 24px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    z-index: 0;
}

.num{
    /* border: 2px solid green; */
    max-width: 56px;
    width: 100%;
    height: max-content;
    border-radius: 16px;
    padding: 10px;
    background: #ff5a1e;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: -25px;
    left: 41%;
}
.titleSecond{
    /* border: 2px solid orange; */
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #2d2d2d;
    padding: 57px 32px;
    margin: 0;
}


@media (max-width: 768px) {
    .num__card__item{
        max-width: none;
        width: 100%;
        gap: 14px;
        text-align: center;
        margin: 12px 0;
    }

    .num{
        max-width: 40px;
        max-height: 40px;
        font-size: 2.2rem;
        padding: 8px;
        top: -25px;
        left:47%;
        border-radius: 8px;
    }

    .titleSecond{
        text-align: center;
        margin: 0 0 20px 0;
        padding: 65px 32px 20px 32px;
    }
}

@media (max-width: 490px){
    .num{
        left: 46%;
    }

    .titleSecond{
        padding: 60px 32px 20px 32px;
    }
}
   
@media (max-width: 320px){
    .num__card__item{
        max-width: 320px;
        margin-bottom: 40px;
        height: 150px;
    }
    .num{
        top: -24px;
        border-radius: 8px;
        left: 43%;
        font-size: 24px;
        text-align: center;
        padding: 8px;
    }

    .titleSecond{
        padding: 40px 16px;
        font-size: 16px;
    }

}

@media(max-width: 280px){
    .num{
        left: 39%;
        font-size: 24px;
    }

}
