.calculatorContainer {
    padding: 60px 0 34px 0;
    width: 100%;
    @media (min-width: 900px) {
        padding: 60px 0 60px 0;
    }
    .title {
        font-weight: 600;
        line-height: 40px;
        color: #212121;
		margin: 0px 10px;
		font-size: 1.5rem;
		text-align: center;
		@media (min-width: 400px) {
            text-align: center;
			font-size: 2rem;
		}
    }

    .sliderContainer {
        display: grid;
		padding: 60px 15px 0px 15px;
		grid-template-columns: auto;
		@media (min-width: 700px) {
			padding: 60px 0px 0px 30px;
			grid-template-columns: 40% 50%;
		}
		@media (min-width: 800px) {
			grid-template-columns: 50% 50%;
		}
		@media (min-width: 900px) {
			grid-template-columns: 55% 45%;
		}
		
        .calculate {
			margin: 0px 15px 0px 0px;
			padding-bottom: 30px;
			@media (min-width: 370px) {
				margin: 0px;
			}
			@media (min-width: 700px) {
				padding-bottom: 0px;
			}
            
			input {
                width: 100%;
                border: none;
                outline: none;
                padding: 22px 16px;
                background: #FFEAE3;
                border-radius: 8px;
                font-size: 1.25rem;
                line-height: 24px;
            }
        }
        
        .calculateTitle {
            color: #666666;
            font-size: 20px;
            line-height: 28px;
            padding-bottom: 20px;
        }
        
        .courseContainer {
			padding-left: 0px;			
			@media (min-width: 700px) {
				padding-left: 45px;
			}
			.courseTitle {
                color: #666666;
                font-size: 20px;
                line-height: 28px;
                padding-bottom: 20px;
            }

            .courses {
                display: flex;
                
                .course {
					background: #F5F5F5;
                    border-radius: 50px;
                    margin-right: 8px;
                    cursor: pointer;
					padding: 12px 24px;
                    user-select: none;
					@media (min-width: 370px) {
						padding: 12px 36px;
					}
                }
                .courseActive {
                    user-select: none;
                    cursor: pointer;
                    padding: 12px 24px;
                    background: #FFEAE3;
                    border-radius: 50px;
                    margin-right: 8px;
                    @media (min-width: 370px) {
						padding: 12px 36px;
					}
                }
            }
        }
    }
	.calculateResult {
		display: flex;
		padding: 48px 0px 0px 16px;
		flex-direction: column;
        @media (min-width: 700px) {
            padding: 48px 0px 0px 30px;
        }
		@media (min-width: 950px) {
			padding: 80px 0px 0px 30px;
			flex-direction: row;
		}

		.totalResult, .realResult, .percentResult {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			margin-right: 50px;
			padding-bottom: 44px;
			@media (min-width: 800px) {
				margin-right: 100px;
				padding-bottom: 60px;
			}
			@media (min-width: 964px) {
				display: block;
			}

			.totalResultTitle, .realResultTitle, .percentResultTitle {
				font-size: 1rem;
				line-height: 28px;
				color: #666666;
				@media (min-width: 700px) {
					font-size: 1.25rem;
				}
			}
			.amountResult, .realResultAmount, .percent {
				font-weight: 500;
				font-size: 2.25rem;
				line-height: 64px;
				color: #212121;
				margin-top: 10px;
				@media (min-width: 700px) {
					font-size: 3.5rem;
				}

				span {
					font-size: 1.5rem;
					@media (min-width: 700px) {
					font-size: 2rem;
				}
				}
			}
		}
	}
    .calculateBtn {
        padding: 0px 15px 0px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		@media (min-width: 700px) {
            padding: 0px 30px 0px 30px;
		} 
		@media (min-width: 900px) {
            align-items: flex-start;
            justify-content: flex-start;
			padding: 0px 30px 0px 30px;
		} 

        button {
            padding: 14px 48px;
            background-color: #FF5A1E;
            border: none;
            outline: none;
            border-radius: 100px;
            color: #ffffff;
            font-size: 1rem;
            width: 100%;
            cursor: pointer;
            @media (min-width: 700px) {
                padding: 20px 48px;
                width: max-content;
                font-size: 1.25rem;
            }
        }
        a {
            text-decoration: none;
            color: #ffffff;
        }
        div {
            padding-top: 34px;
            color: #9E9E9E;
            font-size: 1rem;
            line-height: 20px;
            margin-right: 10px;
            @media (min-width: 900px) {
                padding-top: 20px;
            }
        }
    }
}



