.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__item {
  max-width: 380px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 24px;
  padding: 0px auto;
}

.card__item img {
  padding: 24px 100px 24px 100px;
}

.title {
  font-size: 2.2rem;
  font-weight: 500;
  color: #2d2d2d;
  text-align: center;
  padding: 0px 0 8px 0;
}

.subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  color: #b0b1b5;
  padding-bottom: 24px;
}
