.navbar-container {
  margin: 0px auto;
  width: 100vw;
  background: #f5f6f7;
  position: sticky;
  top: 0px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 30px;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 23px;
  list-style-type: none;
}

.navbar-links > li > a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #2d2d2d;
}

.tel-number > a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #2d2d2d;
}
