.card-items{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card-title{
    font-weight: 700;
    font-size: 4.8rem;
    color: #2d2d2d;
    text-align: center;
    padding: 120px 0 32px 0;
}