.card-items {
  display: flex;
  justify-content: center;
  padding: 70px 15px 0 15px;
  border: 1px solid blue;
  margin: 0 0 120px 0;
  /* margin: 0 0 20px 0; */
  gap: 15px;
}

.card-title {
  border: 1px solid red;
  font-weight: 700;
  font-size: 4.8rem;
  color: #2d2d2d;
  text-align: center;
  margin: 120px 0 0 0;
}

.moveTop {
  width: 65px;
  height: 65px;
  border: none;
  background-color: #ff6600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  left: 20px;
  cursor: pointer;
  animation: topScroll 0.3s linear;
  transform: translateY(10px);
  z-index: 100;
}
.moveTop img {
  width: 20px;
  transform: rotate(-90deg);
}
@keyframes topScroll {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}
@media (max-width: 768px) {
  .card-items {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    padding: 80px 24px 0 24px;
  }

    .card-title{
        font-size: 4rem;
        padding: 80px 10px 0 10px;
    }

}

@media(max-width: 420px){
  .card-items{
    padding: 60px 0;
    margin: 0 0 40px 0;
  }
}

@media (max-width: 320px) {
  .card-items {
    flex-direction: column;
    padding: 40px 5px 0 5px;
    margin-bottom: 0;
  }
  .card-title {
    font-size: 2.4rem;
    padding-top: 60px;
  }
}
